<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {% for message in messages %}
     <h3 style="red">{{message}}</h3>
    {% endfor %}
<form method="POST" action="">
        {% csrf_token%}
        <input type="text" name="username" placeholder=" Enter username"><br><br>
        <input type="text" name="email" placeholder="Enter email"><br><br>
        <input type="password" name="password" placeholder="Enter password"><br><br>
        <input type="password" name="password_confirm" placeholder="password_confirm"><br><br>
        <a href="{% url 'login' %}"><input type="submit" value="Update"></a>
</form>
</body>