<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
</head>
<body>
	<a href="{% url 'admin' %}" style="width: 100px; height: 100px; background-color: green; color: white;"><button>Login</button></a>
	<br><br>
	<a href="{% url 'Teacher' %}" style="width: 100px; height: 100px; background-color: blue; color: white;"><button>Login</button></a>
	<br><br>
	<a href="{% url 'login' %}" style="width: 100px; height: 100px; background-color: yello; color: white;"><button>Login</button></a>
</body>
</html>