*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	font-family: sans-serif;
	font: 18px;

}
nav {
	
	display: flex;
	justify-content: space-between;

}

form{
	float: right;
	
}
.main{
	background: blue;
	color: white;
	margin: 10px ;
	display: flex;
	flex-wrap:wrap ;
}
